body{
    background-color: antiquewhite;
    margin: 0px;
}

nav{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 150px;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

nav ul{
    list-style: none;
    position: relative;
    left: 20%;
    top: 60%;
    grid-row: 1;
    grid-column: 1;
}

.login{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 60%;
    display: inline-block;
    grid-row: 1;
    grid-column: 2;
}

.login ul li{
    text-decoration: none;
    color: black;
}

.login ul{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 6px;
    top: 40px; 
    left: -10%;
    width: 100px;
    list-style: none;
}
.login img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login:hover ul{
    display: block;
}

.navigation-page a, .login ul a{
    text-decoration: none;
    color: black;
}


.blog{
    margin: 40px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.bold{
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    padding: 7px;
}


.navigation-page li{
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 0px;
}

.navigation-page li a{
    color: white;
}

.about{
    margin: 40px;
    position: relative;
    left: 40%;
    transform: translateX(-40%);
    width: 70%;
    margin-bottom: 10px;
}
.about img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
}

.about h4{
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 70px;
}

.content{
    margin: 40px;
    position: relative;
    left: 40%;
    transform: translateX(-40%);
    width: 70%;
    margin-bottom: 10px;
}

.content time{
    font-style: italic;
    font-weight: normal;
    margin: 10px;
}

.content h1{
    font-size: 20px;
    text-align: justify;
    margin: 10px;
}

.content p{
    font-size: 15px;
    text-align: justify;
    margin: 10px;
}