<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <ul class="navigation-page">
            <li><a href="index.html">Home</a></li>
            <li><a href="post.html">Posts</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <div class="login">
            <img src="../static/img/progile.png" alt="profile-pic">
            <ul>
                <li><a href="">Sign out</a></li>
            </ul>
        </div>
    </nav>

    <h1>Under Construction</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/scripts/index.js"></script>
</body>
</html>