<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <ul class="navigation-page">
            <li><a href="index.html">Home</a></li>
            <li><a href="post.html">Posts</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <div class="login">
            <img src="../static/img/progile.png" alt="profile-pic">
            <ul>
                <li><a href="">Sign out</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <h1>Title</h1>
        <time datetime="">12:00</time>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ut repellendus et esse? Ex doloribus aliquid ea culpa cumque praesentium repellendus, 
            molestias obcaecati deserunt modi, mollitia perferendis. Modi ad eum cupiditate!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis saepe facilis ullam, 
            error odio at, vero similique voluptates distinctio illum officia assumenda ducimus adipisci
             dolorem neque nihil? Qui, blanditiis harum!
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut quidem recusandae suscipit eaque temporibus doloremque! Inventore, debitis dolorum. Ab animi hic dicta eveniet aperiam iusto aut eligendi facilis nam.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis molestiae quae minus reiciendis provident culpa repellat rem dicta obcaecati! Facere eaque atque ab ullam asperiores ipsa vel aliquam quisquam eligendi!
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, repellendus? Esse accusantium facilis saepe facere corrupti quasi modi, quia illum accusamus quae blanditiis sit odit molestias magni, debitis, illo neque.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quas, alias aperiam cupiditate fugit nobis, provident tempore cum ab excepturi veritatis minus ipsum dolores aliquam aliquid deleniti laudantium quaerat at!

        </p>
    </div>
    <div class="about">
        <img src="../static/img/progile.png" alt="authors-picture">
        <h4>Author - John doe</h4>
    </div>


</body>
</html>