<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FA-blog</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <ul class="navigation-page">
            <li><a href="index.html" class="bold">Home</a></li>
            <li><a href="post.html">Posts</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <div class="login">
            <img src="../static/img/progile.png" alt="profile-pic">
            <ul>
                <li><a href="">Sign out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blog-container">
        <div class="blog">
            <h2>Title</h2>
            <summary>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus et esse? Ex doloribus aliquid ea culpa cumque praesentium repellendus, molestias obcaecati deserunt modi, mollitia perferendis. Modi ad eum cupiditate!</summary>
            <a href="./blog.html">read more</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/scripts/index.js"></script>
</body>
</html>