<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <ul class="navigation-page">
            <li><a href="index.html">Home</a></li>
            <li><a href="post.html">Posts</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
        <div class="login">
            <img src="../static/img/progile.png" alt="profile-pic">
            <ul>
                <li><a href="">Sign out</a></li>
            </ul>
        </div>
    </nav>

    <div class="posts">
        <div class="post">
            <h2>Post title</h2>
            <p>Post content</p>
            <div class="post-actions">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
        </div>
    </div>

    <div class="edit-blog hidden">
        <h2>Edit post</h2>
        <button class="cancel">&times;</button>
        <form action="">
            <div class="title">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="e.g. Mary had a  little lamb">
            </div>
            <div class="synopsis">
                <label for="synopsis">Synopsis</label>
                <textarea name="synopsis" id="synopsis"></textarea>
            </div>
            <div class="blog-content">
                <label for="blog-content">Blog content</label>
                <textarea name="blog-content" id="blog-content"></textarea>
            </div>
            <input type="submit" value="Update" class="save">
        </form>
    </div>
    <div class="new-blog hidden">
        <h2>New post</h2>
        <button class="cancel">&times;</button>
        <form action="">
            <div class="title">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="e.g. Mary had a  little lamb">
            </div>
            <div class="synopsis">
                <label for="synopsis">Synopsis</label>
                <textarea name="synopsis" id="synopsis"></textarea>
            </div>
            <div class="blog-content">
                <label for="blog-content">Blog content</label>
                <textarea name="blog-content" id="blog-content"></textarea>
            </div>
            <input type="submit" value="Add Post" class="add">
        </form>
    </div>
    <div class="delete-post hidden" >
        <h2>Are you sure you want to delete this post?</h2>
        <input type="submit" value="Yes" class="yes">
        <input type="submit" value="No" class="no">
    </div>
    <div class="status hidden">
        <h2>Added Successfully.</h2>
    </div>
    <div class="write-new" type="button">
        <img src="../static/img/write.png" alt="Write something new">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/scripts/index.js"></script>
</body>
</html>